/* Create 8bit style menu with CSS */
body {
  padding: 0px;
  margin: 0px;
  background: #ffffff;
}

a {
  text-decoration: none;
  cursor: pointer;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
}

.select-menu {
  width: 150px;
  height: 54px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: black;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  margin: 10px;
  font-family: "8BIT WONDER", sans-serif;
}

.menu-input {
  width: 300px;
  height: 50px;
  border: 1px solid #000000;
  border-radius: 5px;
  background: #ffffff;
  font-size: 15px;

  color: #000000;
  text-align: center;

  margin: 10px;
  font-family: "8BIT WONDER", sans-serif;
}

.menu-btn {
  font-family: "8BIT WONDER", sans-serif;

  width: 300px;
  height: 50px;

  border: 1px solid #000000;
  border-radius: 5px;

  background: black;
  font-size: 20px;
  color: white;
  text-align: center;
  margin: 10px;
  cursor: pointer;
}

.a-btn,
.menu-btn:hover {
  background: rgb(31, 31, 31);
}

.error-input {
  color: red;
  font-size: 10px;
  font-family: "8BIT WONDER", sans-serif;
}

/* CHat */

.chat-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.open-button {
  color: white;
  border-radius: 25%;
  padding: 5px 10px;
  cursor: pointer;
  border: none;

  padding: 5px 10px;
  background-color: white;
  cursor: pointer;
}

.chat-box {
  display: none;
  flex-direction: column;
  width: 500px;
}

.chat-content {
  padding: 10px;
  overflow-y: auto;
  max-height: 200px;
  display: flex;
  flex-direction: column;
}

.chat-input {
  display: flex;
  padding: 10px;
}

.inpt {
  flex: 1;
  padding: 5px;
  font-family: "8BIT WONDER", sans-serif;
  border-radius: 25px;
}

.btn-send {
  border: none;
  padding: 5px 10px;
  background-color: #000000;
  border-radius: 25px;
  color: white;
  font-family: "8BIT WONDER", sans-serif;
  cursor: pointer;
}

.user-nickname {
  font-weight: bold;
  margin-right: 5px;
  font-family: "8BIT WONDER", sans-serif;
}

.message {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.user-message {
  font-family: "8BIT WONDER", sans-serif;
  font-size: 10px;
  align-self: flex-end;
  background-color: #008cba;
  color: white;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

.received-message {
  font-family: "8BIT WONDER", sans-serif;
  font-size: 10px;
  align-self: flex-start;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
}

/* Settings */

.settings-container {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.open-settings {
  color: white;
  border-radius: 25%;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  padding: 5px 10px;
  background-color: white;
  cursor: pointer;
}

.historynum {
  font-family: "8BIT WONDER", sans-serif;
  font-size: 10px;
  text-align: center;
}

.settings-box {
  display: none;
  flex-direction: column;
  width: 150px;
}

.save-btn {
  padding: 5px 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 30px;
  font-family: "8BIT WONDER", sans-serif;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin-left: 35px;
}

.settings-content {
  padding: 5px;
  font-size: 10px;
  font-family: "8BIT WONDER", sans-serif;
  max-height: 200px;
}

.settings-content p {
  text-align: center;
}

.chathistory {
  display: none;
}

/* 404 */

.nf-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.nf-name {
  font-size: 50px;
  font-weight: bold;
  color: #000000;
  font-family: "8BIT WONDER", sans-serif;
}
.nf-btn {
  font-family: "8BIT WONDER", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.nf-btn:hover {
  background-color: #000000;
  color: #ffffff;
}
